<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2015 Intel Corporation

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file 
except in compliance with the License. You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the 
License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
either express or implied. See the License for the specific language governing permissions 
and limitations under the License
-->


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="intel.xdk.cache"
    version="1.2.3">
    <name>Intel XDK Cache</name>
    <description>Intel XDK Cache Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Intel XDK,intel.xdk,cache</keywords>
    <repo>https://github.com/01org/cordova-plugin-intel-xdk-cache.git</repo>
    <issue></issue>

   <!-- wp8 -->
    <platform name="wp8">
        <js-module src="www/wp8/cache.js" name="cache">
            <merges target="intel.xdk.cache" />
        </js-module>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="IntelXDKCache">
                <param name="wp-package" value="IntelXDKCache"/>
            </feature>
        </config-file>

       <source-file src="src/wp8/Cache.cs" /> 
   </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="www/cache.js" name="cache">
            <clobbers target="intel.xdk.cache" />
        </js-module>

        <js-module src="src/windows8/cacheProxy.js" name="CacheProxy">
            <merges target="" />
        </js-module>
   </platform>

    <!-- windows8 -->
    <platform name="windows8">
        <js-module src="www/cache.js" name="cache">
            <clobbers target="intel.xdk.cache" />
        </js-module>

        <js-module src="src/windows8/cacheProxy.js" name="CacheProxy">
            <merges target="" />
        </js-module>
   </platform>

    <!-- android -->
    <platform name="android">
        <js-module src="www/cache.js" name="cache">
            <clobbers target="intel.xdk.cache" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntelXDKCache" >
                <param name="android-package" value="com.intel.xdk.cache.Cache"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
        </config-file>

        <source-file src="src/android/Cache.java" target-dir="src/com/intel/xdk/cache" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <js-module src="www/cache.js" name="cache">
            <clobbers target="intel.xdk.cache" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="IntelXDKCache">
                <param name="ios-package" value="XDKCache" />
            </feature>
        </config-file>
    
        <header-file src="src/ios/XDKCache.h" />
        <source-file src="src/ios/XDKCache.m" />
        <header-file src="src/ios/XDKCacheConnectionDelegate.h" />
        <source-file src="src/ios/XDKCacheConnectionDelegate.m" />
    
    </platform>

</plugin>
