<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="intel.xdk.cache"
  version="0.0.1">
  <name>Intel XDK Cache</name>
  <description>Intel XDK Cache Plugin</description>
  <license>Apache 2.0</license>
  <keywords>intel,xdk,cache</keywords>

</plugin>
